body {
    background-color: rgb(107, 226, 241);
  }

  h1 {
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 60px;
    margin-top: -30px;
  }

  button {
      background-color:  rgb(38, 156, 185);
      color:white;
      font-size: 50px;
      font-family:sans-serif;
      border-radius: 15px;
      border-color: white;
      border-width: 3px;
      border-style: solid;
      width: 80px;
      cursor: pointer; 
  }

  button:active {

    background-color: rgb(128, 226, 243);
  }



  .card {
      height: 300px;
      width: 550px;
      margin-left: 350px;
      margin-top: 50px;
     
      border-radius: 25px;
      background-color:  rgb(58, 112, 156);
      box-shadow: inset -300px 1px 150px -70px rgb(35, 72, 141);
  }

  .number {
      font-size: 40px;
      font-family: monospace;
      color: rgb(221, 219, 219);
      margin-left: 405px;
      margin-top: -140px;

  }

  #name {
      font-size: 20px;
      font-family: monospace;
      color: rgb(221, 219, 219);
      margin-left: 405px;
      margin-top: 30px;
  }



  #nordea {
      font-size: 30px;
      font-family: monospace; 
      color: white;
      font-weight: bold;
      margin-left: 380px;
      margin-top: -235px;
  }

 .img {

    margin-left: 475px;
    margin-top: -43px;
    
 }
  
 .chip {
     margin-left: 410px;
     margin-top: 50px;
 }

 img {
     border-radius: 4px;
 }

 .date {
     font-size: 10px;
     font-family: arial;
     color: rgb(221, 219, 219);
     margin-left: 600px;
     margin-top: 55px;
     font-weight: bold;
 }

 .datenumber {
     font-size: 20px;
     font-family: monospace;
     color: white;
     margin-left: 599px;


 }

 .validdatetitle {
    font-size: 10px;
    font-family: monospace;
    color: white;
    margin-left: 555px;
    width: 5px;
    margin-top: -25px;
 }

 .visa {
     font-size: 50px;
     font-family: monospace;
     color: white;
     margin-left: 770px;
     margin-top: -240px;
     font-style: italic;
     
 }

 

.signaldiv {
    margin-left: 790px;
    margin-top: 30px;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    display: inline-block;
    background-color: rgb(250, 209, 73);
    box-shadow: inset -12px 0px 15px 6px  rgb(216, 141, 43);
    margin-left: 760px;
    margin-top: 80px;
}

.circletwo {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    display: inline-block;
    background-color: rgb(250, 209, 73);
    box-shadow: inset -12px 0px 15px 6px  rgb(216, 141, 43);
    margin-left: -15px;
}